<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Found</title>
  </head>
  <body>
    <h1>Bienvenido a Found</h1>
    <form action="/inicia" method="post">
      <label for="rows">Renglones: </label><input type="text" name="rows" value="6"><br><br>
      <label for="columns">Columnas: </label><input type="text" name="columns" value="6"><br><br>
      <input type="submit" name="default" value="default">
    </form>
  </body>
</html>
