<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Found</title>
  </head>
  <body>
    <h1>Bienvenido a Found</h1>
    <form action="/inicia" method="post">
	    <input type="text" name="tamano">
      <input type="submit" name="default" value="default">
    </form>
  </body>
</html>
