<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Juego</title>
  </head>
  <body>
    <h1>Tablero</h1>
    <%= "Memomara de pares. Tablero #{session["rows"]}x#{session["columns"]}" %>
    <br>
    <br>
    <table>
    <%= session["tablero"].mostrarTabla %>
   </table>
  </body>
</html>
